.about {
    margin: 10px;
    padding: 25px;
    border: 2px;
    border-style: solid;
    border-color: crimson;
    border-radius: 20px;
    background-color: darkseagreen;
}

.about h1 {
    text-shadow: 5px  coral ;
}